@model Universidad_ISI.Models.Estudiante

@{
    ViewBag.Title = "Eliminar";
}

<br/>

<div>
    <h4>¿Desea eliminar al estudiante <b> @Html.DisplayFor(model => model.Nombres) @Html.DisplayFor(model => model.Apellidos)</b>?</h4>
    <p class="error">@ViewBag.ErrorMessage</p>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
