@model Universidad_ISI.Models.Estudiante

@{
    ViewBag.Title = "Detalles";
}

<br />

<div>
    <h4>Información de Estudiante</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            Fecha de Inscripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInscripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Regresar", "Index")
</p>
