@using PagedList.Mvc;
@model PagedList.IPagedList<Universidad_ISI.Models.Estudiante>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Estudiantes";
}
<br/>
<p>
    @Html.ActionLink("Nuevo", "Create", "Estudiante", null, new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm())
{
    <p>
        Buscar por: @Html.TextBox("SearchString", null, new { @class = "form-control col-md-2" } )
        <input type="submit" value="Buscar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nombres", "Index", new { ordenArreglo = ViewBag.OrdenarNombre })
        </th>
        <th>
            @Html.ActionLink("Apellidos", "Index", new { ordenArreglo = ViewBag.OrdenarApellido })
        </th>
        <th>
            @Html.ActionLink("Fecha de Inscripción", "Index", new { ordenArreglo = ViewBag.OrdenarFechaInscripcion })
        </th>
        <th>
            Acciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @item.FechaInscripcion.ToString("yyyy-MM-dd")
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.EstudianteId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.EstudianteId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.EstudianteId })
        </td>
    </tr>
}

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, ordenArreglo = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))