<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad ISI</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/fonts/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/fonts/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/fonts/flaticon/font/flaticon.css" rel="stylesheet" />
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet" />

    <!-- Theme Style -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>

    <header role="banner">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand absolute" href="~/Home/">Universidad ISI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                    <ul class="navbar-nav ml-auto">
                        <li style="padding:10px">@Html.ActionLink("Estudiantes", "Index", "Estudiante")</li>
                        <li style="padding:10px">@Html.ActionLink("Cursos", "Index", "Curso")</li>
                        <li style="padding:10px">@Html.ActionLink("Departamentos", "Index", "Departamento")</li>
                        <li style="padding:10px">@Html.ActionLink("Instructores", "Index", "Instructor")</li>
                        <li style="padding:10px">@Html.ActionLink("Estadísticas", "About", "Home")</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- END header -->


    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="site-footer">
        <div class="container">
            
            <div class="row">
                <div class="col-md-12 text-center copyright">
                    <hr />
                    <p class="float-md-left">
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> | Universidad ISI
                    </p>
                    <p class="float-md-right">
                        <a href="#" class="fa fa-facebook p-2"></a>
                        <a href="#" class="fa fa-twitter p-2"></a>
                        <a href="#" class="fa fa-linkedin p-2"></a>
                        <a href="#" class="fa fa-instagram p-2"></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- END footer -->
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>
    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/jquery-migrate-3.0.0.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/jquery.stellar.min.js"></script>
    <script src="~/Content/js/jquery.animateNumber.min.js"></script>

    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/main.js"></script>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>